.form {
  max-width: 400px;
  padding: 20px;
  border: 2px solid black;
  margin: 20px auto;
}

.password {
  &Input {
    position: relative;
  }

  &Icon {
    position: absolute;
    top: 20px;
    right: 0;
  }
}

.button {
  margin-top: 20px !important;
}

.errorMessage {
  font-weight: 700 !important;
  text-transform: uppercase;
}
