.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button {
  width: 100%;
  margin-top: auto !important;
  justify-self: end;
}

.root::after {
  position: absolute;
  z-index: -2;
  top: -3px;
  right: -3px;
  width: 0;
  height: 0;
  border-radius: 5px;
  background-color: var(--bg-color-primary);
  content: '';
  transition: all 0.3s ease;
}

.root::before {
  position: absolute;
  z-index: -2;
  bottom: -3px;
  left: -3px;
  width: 0;
  height: 0;
  border-radius: 5px;
  background-color: var(--bg-color-primary);
  content: '';
  transition: all 0.3s ease;
}

.root {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;

    &::before,
    &::after {
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      transition: all 0.3s ease;
    }

    .image {
      transform: scale(1.05);
    }

    .button {
      background-color: var(--bg-color-accent) !important;
    }
  }
}

.wrap {
  display: flex;
  min-width: 0;

  // max-width: 350px;
  height: 530px;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-m-12px);
  border-radius: 5px;
  background-color: white;
  gap: var(--spacing-m-12px);
}

.imageContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.priceContainer {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: center;
  justify-content: space-around;
  line-height: 30px;
  text-align: center;
}

.bottomContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  justify-content: space-around;
  margin-top: auto;
  gap: 20px;
}

.title,
.description,
.price {
  display: -webkit-box;
  overflow: hidden;
  align-self: flex-start;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.title {
  font-size: large;
  -webkit-line-clamp: 2;
  line-clamp: 3;
}

.price {
  margin: 0;
  font-size: x-large;
  font-weight: 700;
}

.priceInactive {
  color: var(--txt-color-inactive);
  text-decoration: line-through;
}

.priceDiscount {
  margin: 0;
  color: var(--txt-color-accent);
  font-size: xx-large;
  font-weight: 700;
}

.iconDiscount {
  position: absolute;
  z-index: 1;
  top: var(--spacing-m-12px) !important;
  left: var(--spacing-m-12px);
  width: 50px !important;
  height: 50px !important;
  color: var(--txt-color-accent);
}
