:root {
  /* colors */
  --bg-color-secondary: rgb(86 169 252);
  --bg-color-primary: rgb(25 118 210);
  --bg-color-accent: orange;
  --txt-color-inactive: lightgray;
  --txt-color-accent: orange;

  /* spacing */
  --spacing-xs-4px: 4px;
  --spacing-s-8px: 8px;
  --spacing-m-12px: 12px;
  --spacing-l-16px: 16px;
  --spacing-xl-24px: 24px;
  --spacing-2xl-32px: 32px;
  --spacing-3xl-40px: 40px;
  --spacing-4xl-48px: 48px;
  --spacing-5xl-56px: 56px;
  --spacing-6xl-64px: 64px;
  --spacing-7xl-96px: 96px;
  --spacing-8xl-128px: 128px;
}
