.sale {
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
  }

  &Title {
    display: inline-block;
  }

  &Item {
    padding-top: 0 !important;
  }
}

.slider {
  &Container {
    padding: 16px 10px !important;
    margin: 0 -10px !important;
  }

  &Nav {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 8px !important;

    &Button:disabled svg {
      fill: grey;
    }
  }
}
