.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: var(--bg-color-secondary);
  gap: var(--spacing-s-8px);
}

.filterPanel {
  min-width: 320px;
}

.main {
  display: grid;
  width: 100%;
  gap: var(--spacing-m-12px);
  grid-template-columns: 320px 1fr;
  grid-template-rows: 56px 1fr;

  @media screen and (width < 900px) {
    grid-template-columns: 1fr;
  }

  @media screen and (width < 350px) {
    grid-template-rows: auto 1fr;
  }
}
