.signUpForm {
  max-width: 400px;
  padding: 20px;
  border: 2px solid black;
  margin: 20px auto;
}

.submitButton {
  margin-top: 20px !important;
}

.dateOfBirthInput {
  color: red;
}

.shippingAddressHeader {
  margin-top: 20px;
  font-weight: 600 !important;
  text-align: center;
  text-transform: uppercase;
}

.shippingAddressDivider {
  margin-bottom: 10px;
  opacity: 0.8;
}
