.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-primary);
}

.mainContent {
  display: flex;
  width: 100%;
  max-width: 1920px;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--spacing-m-12px) var(--spacing-xl-24px);
  background-color: var(--bg-color-secondary);
}

.outlet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
