.cartItem {
  display: grid;
  width: 100%;
  align-items: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  background-color: #fff;
  gap: 20px;
  grid-template-columns: 150px 1fr repeat(2, 130px);

  @media (width <= 780px) {
    grid-template-areas:
      'image name price'
      'quantity quantity quantity';
    grid-template-columns: unset;
  }

  @media (width <= 590px) {
    grid-template-areas:
      'image'
      'name'
      'price'
      'quantity';
    grid-template-columns: unset;
  }
}

.cartItemMedia {
  width: 150px !important;
  height: 150px !important;
  object-fit: contain;

  @media (width <= 780px) {
    grid-area: image;
  }

  @media (width <= 590px) {
    width: 100% !important;
    height: auto !important;
  }
}

.cartItemContent {
  padding: 0 !important;

  @media (width <= 780px) {
    grid-area: name;
  }
}

.cartItemName {
  font-weight: bold;
}

.cartItemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (width <= 780px) {
    justify-content: center;
    grid-area: quantity;
  }
}

.cartItemBoxQuantity {
  display: flex;
  align-items: center;

  @media (width <= 780px) {
    gap: 20px;
  }
}

.cartItemBoxQuantityText {
  margin: 0 10px;

  @media (width <= 400px) {
    margin: 10px 0;
  }
}

.cartItemTotalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
  font-weight: bold;

  @media (width <= 780px) {
    grid-area: price;
  }
}

.cartItemQuantityMargin {
  margin-bottom: 8px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.deleteButton:hover {
  animation: shake 0.5s ease-in-out infinite;
}

.discountedPrice {
  color: orange;
  font-size: large;
  font-weight: 700 !important;
}
