.item {
  border-radius: 5px;
  background-color: white;
}

.slide {
  height: auto !important;
}

.thumb {
  height: 100%;
  cursor: pointer;
  transition: padding 0.3s ease;
}

.thumbActive .thumb {
  position: relative;
  overflow: hidden;
  padding: 2px;
  border-radius: 5px;

  &::after {
    position: absolute;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    background-color: var(--bg-color-primary);
    content: '';
    inset: -2px 0 0 -2px;
    transition: background-color 0.5s ease;
  }
}

.list {
  overflow: hidden;
  width: 100%;

  // min-width: 360px;
  border-radius: 5px !important;
  margin-top: 20px !important;
}

.price {
  margin: 0;
  font-size: x-large;
  font-weight: 700;
}

.priceContainer {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: flex-start;
  gap: 10px;
  line-height: 30px;
  text-align: center;
}

.priceInactive {
  color: var(--txt-color-inactive);
  text-decoration: line-through;
}

.priceDiscount {
  margin: 0;
  color: var(--txt-color-accent);
  font-size: xx-large;
  font-weight: 700;
}

.button {
  margin-top: 20px !important;

  &:hover {
    background-color: var(--bg-color-accent) !important;
  }
}

@media screen and (width <=768px) {
  .title {
    font-size: 24px !important;
  }
}
