@import 'https://fonts.googleapis.com/css?family=opensans:500';

.page {
  --main-color: rgb(86 169 252);

  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  font-family: 'Open Sans', sans-serif;
}

.banner {
  --font-size: 220px;

  position: relative;
  display: block;
  width: 80%;
  margin: 100px auto;
  color: #fff;
  font-size: var(--font-size);
  text-align: center;

  &404 {
    position: relative;
    z-index: 2;
    display: inline-block;
    letter-spacing: 15px;
  }

  &Title {
    position: relative;
    display: block;
    font-size: 0.3em;
    letter-spacing: 12px;
    line-height: 80%;
    text-align: center;
  }

  &Subtitle {
    position: relative;
    display: block;
    margin-bottom: 20px;
    font-size: 0.15em;
    text-align: center;
  }

  &Hr {
    z-index: -10;
    width: 420px;
    height: 10px;
    padding: 0;
    border: none;
    border-top: 5px solid #fff;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }

  &Button {
    color: #fff;
  }

  &Button:hover {
    color: var(--main-color);
  }

  @media screen and (width <= 600px) {
    --font-size: 100px;

    &Hr {
      width: 260px;
    }
  }
}

.cloud {
  position: absolute;
  z-index: 0;
  width: 350px;
  height: 120px;

  // background: -webkit-linear-gradient(to top, #fff 100%);
  // background: -moz-linear-gradient(to top, #fff 100%);
  // background: -ms-linear-gradient(to top, #fff 100%);
  // background: -o-linear-gradient(to top, #fff 100%);
  border-radius: 100px;
  margin: 120px auto 20px;
  background: #fff;
  background: linear-gradient(to top, #fff 100%);
  transition: ease 1s;
}

.cloud::after,
.cloud::before {
  position: absolute;
  z-index: -1;
  background: #fff;
  content: '';
}

.cloud::after {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.cloud::before {
  top: -90px;
  right: 50px;
  width: 180px;
  height: 180px;
  border-radius: 200px;
}

.x1 {
  top: -50px;
  right: -100px;
  animation: moveclouds 25s linear infinite;
  opacity: 0.9;
  transform: scale(0.3);
}

.x1Dot5 {
  top: -80px;
  right: -250px;
  animation: moveclouds 27s linear infinite;
  transform: scale(0.3);
}

.x2 {
  top: 30px;
  right: -500px;
  animation: moveclouds 35s linear infinite;
  opacity: 0.6;
  transform: scale(0.6);
}

.x3 {
  right: -1500px;
  bottom: -70px;
  animation: moveclouds 25s linear infinite;
  opacity: 0.8;
  transform: scale(0.6);
}

.x4 {
  right: -1000px;
  bottom: 20px;
  animation: moveclouds 28s linear infinite;
  opacity: 0.75;
  transform: scale(0.75);
}

.x5 {
  top: 300px;
  right: -1400px;
  animation: moveclouds 20s linear infinite;
  opacity: 0.8;
  transform: scale(0.5);
}

.x6 {
  top: 100px;
  right: -700px;
  animation: moveclouds 30s linear infinite;
  opacity: 0.2;
  transform: scale(0.4);
}

.x7 {
  top: 400px;
  right: -350px;
  animation: moveclouds 20s linear infinite;
  opacity: 0.3;
  transform: scale(1.4);
}

.xx1 {
  top: -50px;
  right: -3100px;
  animation: moveclouds 25s linear infinite;
  opacity: 0.9;
  transform: scale(0.3);
}

.xx1Dot5 {
  top: -80px;
  right: -3250px;
  animation: moveclouds 27s linear infinite;
  transform: scale(0.3);
}

.xx2 {
  top: 30px;
  right: -2500px;
  animation: moveclouds 35s linear infinite;
  opacity: 0.6;
  transform: scale(0.6);
}

.xx3 {
  right: -2500px;
  bottom: -70px;
  animation: moveclouds 25s linear infinite;
  opacity: 0.8;
  transform: scale(0.6);
}

.xx4 {
  right: -1500px;
  bottom: 20px;
  animation: moveclouds 28s linear infinite;
  opacity: 0.75;
  transform: scale(0.75);
}

.xx5 {
  top: 300px;
  right: -3400px;
  animation: moveclouds 20s linear infinite;
  opacity: 0.8;
  transform: scale(0.5);
}

.xx6 {
  top: 100px;
  right: -1700px;
  animation: moveclouds 30s linear infinite;
  opacity: 0.2;
  transform: scale(0.4);
}

.xx7 {
  top: 400px;
  right: -2350px;
  animation: moveclouds 20s linear infinite;
  opacity: 0.3;
  transform: scale(1.4);
}

.xxl1 {
  top: -50px;
  right: -4600px;
  animation: moveclouds 25s linear infinite;
  opacity: 0.9;
  transform: scale(0.3);
}

.xxl1Dot5 {
  top: -80px;
  right: -4750px;
  animation: moveclouds 27s linear infinite;
  transform: scale(0.3);
}

.xxl2 {
  top: 30px;
  right: -4300px;
  animation: moveclouds 35s linear infinite;
  opacity: 0.6;
  transform: scale(0.6);
}

.xxl3 {
  right: -4500px;
  bottom: -70px;
  animation: moveclouds 25s linear infinite;
  opacity: 0.8;
  transform: scale(0.6);
}

.xxl4 {
  right: -3000px;
  bottom: 20px;
  animation: moveclouds 28s linear infinite;
  opacity: 0.75;
  transform: scale(0.75);
}

.xxl5 {
  top: 300px;
  right: -4900px;
  animation: moveclouds 20s linear infinite;
  opacity: 0.8;
  transform: scale(0.5);
}

.xxl6 {
  top: 100px;
  right: -3200px;
  animation: moveclouds 30s linear infinite;
  opacity: 0.2;
  transform: scale(0.4);
}

.xxl7 {
  top: 400px;
  right: -3850px;
  animation: moveclouds 20s linear infinite;
  opacity: 0.3;
  transform: scale(1.4);
}

@keyframes moveclouds {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 10000px;
  }
}

@keyframes moveclouds {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 10000px;
  }
}

@keyframes moveclouds {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 10000px;
  }
}
