.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink;
}

.App__title {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.App__text {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
