.fieldName {
  font-weight: 700 !important;
}

.paperContainer {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  padding: 8px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.profileAvatar {
  width: 80px !important;
  height: 80px !important;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px 0 !important;
}

.passwordsContainer {
  display: flex;
  flex-direction: column !important;
  padding: 8px 16px 0 !important;
  gap: 5px;
}

.sectionHeader {
  color: black;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-align: center;
}
